anyio==4.6.2.post1
cryptography 
cycler==0.12.1
distro
filelock 
fonttools==4.48.1
gmpy2 
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
idna
Jinja2 
jsonpointer==2.1
kiwisolver==1.4.5
mkl-fft 
mkl-service==2.4.0
mpmath 
networkx 
packaging 
pluggy 
pycosat  
pycparser 
pyOpenSSL  
pyparsing==3.1.1
PySocks 
python-dateutil==2.8.2
python-dotenv==1.0.1
python-telegram-bot==21.6
PyYAML
requests
six==1.16.0
sniffio==1.3.1
